{% extends '::layout.html.twig' %}

{% block left_panel %}
    <table class="table products">
        <thead>
        <tr>
            <th>{{ 'entity.product.name'|trans({},'messages') }}</th>
            <th>{{ 'entity.product.net_price'|trans({},'messages') }}</th>
            <th>{{ 'entity.product.gross_price'|trans({},'messages') }}</th>
            <th>{{ 'entity.product.VAT_rate'|trans({},'messages') }}</th>
            <th>{{ 'entity.product.categories'|trans({},'messages') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for product in pagination %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.netPrice }}</td>
                <td>{{ product.grossPrice }}</td>
                <td>{{ product.VATRate }}</td>
                <td>
                    {% for category in product.categories %}
                    <span class="badge badge-default">{{ category }}</span>
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-sm btn-success add-to-cart-link" href="{{ path('app_cart_add_product', { 'id': product.id }) }}">
                        {{ 'cart.add_product'|trans({},'messages') }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination-container">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

{% block right_panel %}
    {{ render(controller('AppBundle:Cart:showCart')) }}
{% endblock %}
