{{ form_start(remove_cart_product_form, {'action': path('app_cart_remove_product'), 'method': 'DELETE'}) }}
<table class="table table-sm cart">
    {% for VATRate, cartItems in cart %}
        <thead>
        <tr>
            <td colspan="4" class="text-right">{{ 'cart_item.VAT_rate'|trans({'%VAT_rate%': VATRate},'messages') }}</td>
        </tr>
        <tr>
            <th>{{ 'entity.product.name'|trans({},'messages') }}</th>
            <th>{{ 'entity.product.price'|trans({},'messages') }}</th>
            <th>{{ 'cart_item.amount'|trans({},'messages') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in cartItems %}
            <tr>
                <td>{{ item.product }}</td>
                <td>
                    {{ item.product.grossPrice }}
                    <small class="text-muted">({{ item.product.netPrice }})</small>
                </td>
                <td>{{ item.amount }}</td>
                <td>
                    {% for child in remove_cart_product_form %}
                        {% if item.product.id == child.vars.name %}
                            {{ form_widget(attribute(remove_cart_product_form, item.product.id),{'attr': {'class': 'btn btn-sm btn-danger remove-product-from-cart'}}) }}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    {% else %}
        <tbody>
            <tr>
                <td class="text-center"><em>{{ 'cart.no_items'|trans({},'messages') }}</em></td>
            </tr>
        </tbody>
    {% endfor %}
</table>
{{ form_rest(remove_cart_product_form) }}
{{ form_end(remove_cart_product_form) }}